/* Global css here */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #111010;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.inner-container {
    display: flex;
    align-items: center;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background: #ff1f4fd8;
}

body,
footer {
    font-family: 'Lato', sans-serif;
}

/* ============================================== */
/* Header and banner css here */
.banner {
    background-color: #FCEEF1;
    padding-top: 50px;

}

.banner-img img {
    width: 100%;
}

.banner-info h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-info p {
    width: 75%;
    color: #27272799;
    font-size: 16px;
    margin: 20px 0px;
}

/* ============================================== */
/* Featured Css Here */
.featured {
    padding: 60px 0px;
}

.featured-title h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.featured-title p {
    text-align: center;
    width: 55%;
    margin: 20px auto;
    color: #27272799;
}

.featured-img {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.featured-img p {
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 700;
}

#img-1 {
    width: 60%;
    background-color: #F2DEE7;
    padding: 30px 30px 0px 30px;
    border-radius: 50% 50% 0% 0%;
}

#img-2 {
    width: 60%;
    background-color: #DAEFF1;
    padding: 30px 30px 0px 30px;
    border-radius: 50% 50% 0% 0%;
}

#img-3 {
    width: 60%;
    background-color: #E3ECDB;
    padding: 30px 30px 0px 30px;
    border-radius: 50% 50% 0% 0%;
}

/* ============================================== */
/* Support section css here */
.support {

    text-align: center;
    padding: 50px 0px;
}

.support-info {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
    padding: 25px 0px;
    align-items: center;
}

.support-info img {
    width: 30%;
}

.img-w {
    width: 45% !important;
}

/* ============================================== */
/* Hot deal css here */
.hot-deal {
    background-color: #FEF6F8;
    padding: 50px 0px;
    margin: 20px 0px;
}

.hot-deal-info {
    text-align: center;
}

.hot-deal-info h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.hot-deal-info p {
    color: #27272799;
    font-size: 16px;
    width: 75%;
    margin: 20px auto;
}

.hot-deal-img img {
    width: 80%;
}

.hot-deal-info span {
    color: #E55473;
}

/* ============================================== */
/* video sell section css here */
.video-sell-post {
    margin: 50px 0px;
}

.video-post {
    display: flex;
    align-items: center;
}

.video-description h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.video-description p {
    color: #27272799;
    font-size: 16px;
    margin: 20px auto;
}

.video-description span {
    color: #E55473;
}

/* ============================================== */
/* Social section css here */
.social-img {
    margin: 30px 0px;

}

.social {
    text-align: center;
    padding: 50px 0px;
}

.social-title h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.social-title p {
    color: #27272799;
    font-size: 16px;
    width: 55%;
    margin: 20px auto;
}

.social-img img {
    width: 20%;
    margin: 0px 10px 0px 10px;
}

/* ============================================== */
/* Subscribe section css here */
.subscribe {
    margin-bottom: 65px;
}

.subscribe-info {
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    padding: 70px 0px;
}

.subscribe-info h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.subscribe-info p {
    color: #27272799;
    font-size: 16px;
    width: 55%;
    margin: 20px auto;
}

.subscribe-info input {
    padding: 15px 200px 15px 15px;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
    text-align: left !important;
}

input[type="email"]::placeholder {
    text-align: left;
}

/* ============================================== */
/* Footer section css here */
.footer {
    background-color: #111010;
    text-align: center;
    padding: 50px 0px;
}

.footer-title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.footer-title span {
    color: #E55473;
}

.footer p {
    color: #ffffffe6;
    font-size: 15px;
    width: 55%;
    margin: 20px auto;
    width: 40%;
}

#copyright {
    color: #ffffff66;
    font-size: 14px;
}